.app-container {
  min-height: 100vh;
  /* background: linear-gradient(135deg, Crimson 0%, var(--background-secondary) 100%); */
  background: var(--background-terciary);
}
header {
  background: var(--background-primary);
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
h1 {
  margin: 0;
  color: var(--text-primary);
  font-size: 2rem;
}
.export-buttons {
  display: flex;
  gap: 0.5rem;
}
.export-btn,
.import-btn {
  padding: 0.5rem 1rem;
  background: var(--background-secondary);
  color: var(--text-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}
.export-btn:hover,
.import-btn:hover {
  background: var(--accent-color);
  transform: translateY(-2px);
}
.import-label {
    cursor: pointer;
}
.import-input {
  display: none;
}
nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-secondary);
  border-radius: 5px;
  transition: all 0.3s;
  font-weight: 500;
}
nav a:hover {
  background: var(--background-secondary);
  color: var(--text-primary);
}
nav a.active {
  background: var(--background-secondary);
  color: var(--text-primary);
}
main {
  padding: 2rem;
}
