<div class="app-container">
  <header>
    <div class="header-top">
      <h1>🐣 Game Collection Inventory</h1>
      <div class="export-buttons">
        <div class="export-btn" (click)="exportData()">📁 Export Data</div>
        <div class="import-btn">
          <label class="import-label">
            📂 Import Data
            <input
              class="import-input"
              type="file"
              accept=".xlsx"
              (change)="importData($event)"
            />
          </label>
        </div>
      </div>
    </div>
    <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Games</a
      >
      <a routerLink="/console-families" routerLinkActive="active"
        >Console Families</a
      >
      <a routerLink="/consoles" routerLinkActive="active">Consoles</a>
      <a routerLink="/peripherals" routerLinkActive="active">Peripherals</a>
      <a routerLink="/categories" routerLinkActive="active">Categories</a>
      <a routerLink="/attributes" routerLinkActive="active">Attributes</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
