:root {
  --background-terciary: linear-gradient(135deg, #1a1a1d 0%, #3b1c32 100%);
  --background-secondary: #a64d79;
  --background-primary: linear-gradient(135deg, #3b1c32 0%, #6a1e55 100%);
  --text-primary: #f0f0f0;
  --text-secondary: #b0b0b0;
  --accent-color: #ae92c8;
  --negative: DarkRed;
  --negative-highlight: #ff4757;
  --disabled: Darkgray;
  --disabled-highlight: gray;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

::placeholder {
  color: var(--text-primary);
}

input,
textarea,
select {
  background: var(--background-primary);
  color: var(--text-primary);
  border-radius: 5px;
  border: 2px solid var(--background-secondary);
}
option {
  background: var(--background-secondary);
}
option:checked, 
option:hover,
option:focus {
    background: var(--accent-color) !important;
    color: var(--text-primary) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background: var(--background-primary);
  padding: 1.5rem 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-btn {
  padding: 0.75rem 1.5rem;
  background: var(--background-secondary);
  color: var(--text-primary);
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.add-btn:hover {
  background: var(--accent-color);
  transform: translateY(-2px);
}

.back-button {
  background: var(--background-primary);
  color: var(--text-primary);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.back-button:hover {
  transform: translateX(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
